extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/image/about.jpg", alt="About Image")
            .col-md-7
                h1 #{pageTitle}