extends ../layout/index

block content
    main.container.mt-5
    h2.text-center.mb-5 Weco Cubs
        .row
            
            .col-md-6
                p Kid from  Pre-school and Primary school.
                p 4 to 14 years of age.
                
                
            .col-md-6
                p Families
                a.nav-link(href="/ndovufamily",class=(currentPage === '/ndovufamily' ? 'active' : '')) The Ndovu Family
                a.nav-link(href="/kifarufamily",class=(currentPage === '/kifarufamily' ? 'active' : '')) The Kifaru Family
                a.nav-link(href="/nyatifamily",class=(currentPage === '/nyatifamily' ? 'active' : '')) The Nyati Family
                a.nav-link(href="/simbafamily",class=(currentPage === '/simbafamily' ? 'active' : '')) The Simba Family
                a.nav-link(href="/chuifamily",class=(currentPage === '/chuifamily' ? 'active' : '')) The Chui Family