extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    h2.mb-4 The Cub Program.
                    
                    a.nav-link(href="/wecocubs") Weco Cubs
                    p 
                .col-md-4
                    
                    h2.mb-4 Travelling Youth Program.
                    
                    a.nav-link(href="/wecoyouths") Weco Youths
                    p 
                .col-md-4
                    
                    h2.mb-4 Traveling Adult Program.
                    
                    a.nav-link(href="/wecoadults") Weco Adults
    .discount
        .container
            .row
                .col-md-12
                    h1 Weco Cubs 
                    h1 Weco Youths
                    h1 Weco Adults
                        
                                       
