extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-3
                h1 #{pageTitle}
                img.img-fluid(src="/image/kifaruf.jpg", alt="kifaru")
            .col-md-4
            h1 Activities.
                p Conservational awareness.
                p Tree planting.
                p Cleaning of enviroment.
                p Project Formation and Participation. 