extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/image/about.jpg", alt="About Image")
            .col-md-7
                h1 #{pageTitle}
                H2 MISSION
                blockquote To engage people all over the world in Arts,Sports and Gaming activities to protect the earth's wildlife and it's ecosystems and also for cultural empowerment.
                H2 VISION
                p Imagine a world in which every single human being dedicates into protecting the earth's wildlife and it's ecosystems through every fun activity they do.        
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/image/agreement.svg", class="img-fluid mb-4" )
                    h2.mb-4 Trust & Safety
                    p We are their for you.Join us as we ventur into tourism
                .col-md-4
                    img(src="/image/placeholder.svg", class="img-fluid mb-4" )
                    h2.mb-4 Best Destination
                    p We are their for you.Join us as we ventur into tourism
                .col-md-4
                    img(src="/image/money.svg", class="img-fluid mb-4" )
                    h2.mb-4 Best Services
                    p We are their for you.Join us as we ventur into tourism
