extends ../layout/index
block slider
    .slider
        h1 WECO
        em CONSERVATION FOR ALL

block content
    main.container.mt-5
        h3.text-center.mb-5 About Us
            .row.md-5
                .col-md-6
                    H2 MISSION
                    p To engage people all over the world in Arts,Sports and Gaming activities to protect the earth's wildlife and it's ecosystems and also for cultural empowerment.
                    H2 VISION
                    p Imagine a world in which every single human being dedicates into protecting the earth's wildlife and it's ecosystems through every fun activity they do.
                    h2 The WECO Community is divided into three groups.
                    p Weco cubs
                    p Weco Youth
                    p Weco Adults
                    h2 There are three stages in each family.
                    p Each member is required to start with the Bronze stage that takes a period of 2 years.Then you advance to Silver stage that takes a period of 2 years also,and finally the Gold stage that takes a period of 3 years.
                    p Each stage has it's role. 
                .col-md-6
                    img.img-fluid(src="/image/about.jpg", alt="")
    .discount
        .container
            .row
                .col-md-6
                    .content
                        h3 Famillies in each program.
                            p The Ndovu Family.
                            p The Kifaru Family.
                            p The Nyati Family.
                            p The Simba Family.
                            p The Chui Family.
